*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjQ4MS1iYi1uaW5nLTA3XzEuanBn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    position: relative;
}

.logo {
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    text-shadow: 0 0 10px grey;
    animation: zoomInOut 2s ease-in-out;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(2);
    }
    50% {
        transform: scale(1.5);
    }
}