{% include 'navbar.html'%}

<head>
    <meta charset="UTF-8">
    <title>TalkWave</title>
    <link rel="stylesheet" href="../static/account.css">
    <script>
        let submenu = document.getElementById("sub-menu");

        function toggleMenu(){
            alert("hi")
            submenu.classList.toggle("open-menu");
        }
    </script>
</head>

<body>
    <div class="action">
        <div class="menu">
            <div class="profile">
                <img src="">
            </div>
            <div>
                <h4>{{account[1]}}</h4>
            </div>
            <ul>
                <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Profile</a></li>
                <li><i class="fa fa-pencil" aria-hidden="true"></i><a href="#"> Edit Profile</a></li>
                <li><i class="fa fa-cog" aria-hidden="true"></i><a href="#">Settings</a></li>
                <li><i class="fa fa-sign-out" aria-hidden="true"></i><a href="logout">Logout</a></li>
            </ul>
        </div>
    </div>
</body>
