
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalkWave</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/logo.css">
</head>
<script>
    // JavaScript redirection (in case CSS animations are not supported)
    setTimeout(function() {
      // Replace 'login' with the desired URL
      window.location.href = 'login';
    }, 1200); // 6s delay (adjust based on your animation duration)
  </script>
<body>
    <div class="logo-container">
        <div class="logo" id="animated-logo">
            <img src="../static/logo.png" class="logo">
            <label style="margin-left: 24px; font-family: fantasy;, font-style: italic; font-weight: 100;">TALKWAVE</label>
        </div>
    </div>
</body>


