<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/account.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      let input = document.querySelector(".search");
      let clearicon = document.querySelector(".clear-icon");
      let searchicon = document.querySelector(".search-icon");

      let form = document.getElementById("form");

      const search = () => {
          input.classList.toggle("active");
          clearicon.classList.toggle("active");
      }

      const clearSearch = () => {
        input.value = ""; // Clear the input value
      }

      // Call the search function when the search icon is clicked
      searchicon.addEventListener("click", search);

      // Call the clearSearch function when the clear icon is clicked
      clearicon.addEventListener("click", clearSearch);

      let profileDropdownList = document.querySelector(".profile-dropdown-list");
      let btn = document.querySelector(".profile-dropdown-btn");

      const toggle = () => {
        profileDropdownList.classList.toggle("active");
      };

      // Call the toggle function when the button is clicked
      btn.addEventListener("click", toggle);
    });
</script>
<body>
    <nav class="navbar">
        <ul class="navbar-list">
            <li>
                <form action="" id="form">
                    <input type="text" name="search" id="search" class="search" placeholder="Search Friends Here...." autocomplete="off">
                    <div class="clear-icon">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </div>
                    <button class="search-icon" type="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </li>
            <li><a href="#"><i class="fa-solid fa-comments"></i>Chat</a></li>
            <li><a href=""><i class="fa-solid fa-users"></i> Friends</a></li>
            <li><a href=""><i class="fa-solid fa-bell"></i> Requests</a></li>
        </ul>
        <div class="profile-dropdown">
            <div class="profile-dropdown-btn">
                <div class="profile-img">
                    <i class="fa-solid fa-circle"></i>
                </div>
                <span>Account<i class="fa-solid fa-angle-down"></i></span>
            </div>
            <ul class="profile-dropdown-list">
                <li class="profile-dropdown-list-item">
                    <a href="#"><i class="fa fa-user"></i>Profile</a>
                </li>
                <li class="profile-dropdown-list-item">
                    <a href="#"><i class="fa fa-pencil"></i>Edit Profile</a>
                </li>
                <li class="profile-dropdown-list-item">
                    <a href="#"><i class="fa fa-cog"></i>Settings</a>
                </li>
                <hr>
                <li class="profile-dropdown-list-item">
                    <a href="logout"><i class="fa fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
        <img src="../static/logo.png" alt="logo" class="navbar-logo">
    </nav>
</body>
</html>




